[user]
	username = tbm
	name = Martin Michlmayr
        email = tbm@cyrius.com
        signingkey = D866749DF7FCD903C32D01893D0787AAAF6C61DD
[commit]
	gpgsign = true
[aliases]
	npm = tbm
	github = tbm
